.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333; /* Cinza escuro */
  }
  
  .form-container {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background-color: #f5f5f5; /* Quase branco */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .form-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .form-input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .form-button {
    padding: 0.75rem;
    background-color: #007bff; /* Azul */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form-button:hover {
    background-color: #0056b3;
  }
  
  .redirect-text {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.9rem;
    color: #555;
  }
  
  .redirect-link {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .redirect-link:hover {
    color: #0056b3;
  }
  
  .error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: -0.5rem;
  }
  